!!! 5
html
  head
    title= title
    style(type='text/css').
      @import url('/app/css/index.css');
  body
    h1(style='text-align:center;') CLOUD CAD
    h2(style='text-align:center;') Online 3D Modeling Tool.
    if (!user)
       .registerdiv
         include register.jade
       br
       .logindiv
         include login.jade
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
      include main.jade
  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')
