* {
    box-sizing: border-box;
}
div.container{
    background-color: white;
    width:120%;
    height:100%;
    padding:1%;
    position:absolute;
}
.registerdiv{
    background-color: white;
    width:48%;
    height:70%;
    position:relative;
    margin-top:1%;
    padding: 1%;
    overflow: auto;
    float:left;
}

.logindiv{
    background-color: white;
    width:48%;
    height:70%;
    position:relative;
    margin-top:1%;
    padding: 1%;
    float:left;
    overflow: auto;
}